<ng-template gcWidget="identity">
    <p class="widget-host__meta">
        <span i18n="@@lol.player.since">Member since</span>
        {{ view().creationDate | date: "mediumDate" }}
    </p>
    @if (!preview()) {
        <a
            [routerLink]="['/users', view().platformUserPublicId]"
            nbButton
            ghost
            status="basic"
            i18n="@@lol.player.platformProfile"
        >
            Platform profile
        </a>
    }
</ng-template>

<ng-template gcWidget="presentation-irl" gcWidgetEditable let-editingData="editingData" let-stopDataEdit="stopDataEdit">
    <lol-player-presentation
        [text]="view().presentationIrl"
        [editing]="canEditFields() && !!editingData"
        [saving]="savingField()"
        (save)="saveField.emit({ presentationIrl: $event })"
        (cancel)="stopDataEdit?.()"
    />
</ng-template>

<ng-template gcWidget="presentation-ig" gcWidgetEditable let-editingData="editingData" let-stopDataEdit="stopDataEdit">
    <lol-player-presentation
        [text]="view().presentationIg"
        [editing]="canEditFields() && !!editingData"
        [saving]="savingField()"
        (save)="saveField.emit({ presentationIg: $event })"
        (cancel)="stopDataEdit?.()"
    />
</ng-template>

<ng-template gcWidget="stats" gcWidgetEditable let-editingData="editingData" let-stopDataEdit="stopDataEdit">
    <lol-player-stats
        [sheet]="view()"
        [options]="catalog()"
        [editing]="canEditFields() && !!editingData"
        [saving]="savingField()"
        (save)="saveField.emit($event)"
        (cancel)="stopDataEdit?.()"
    />
</ng-template>

<ng-template gcWidget="teams">
    @if (preview()) {
        <lol-player-teams [playerPublicId]="view().publicId" [previewTeams]="previewTeams" />
    } @else {
        <lol-player-teams [playerPublicId]="view().publicId" />
    }
</ng-template>

<ng-template gcWidget="champions" gcWidgetEditable let-editingData="editingData">
    <lol-champion-board
        [champions]="view().champions"
        [lanePriority]="lanePriority()"
        [options]="catalog()"
        [editable]="canEditFields() && !!editingData"
        [saving]="savingField()"
        (save)="saveChampions($event)"
    />
</ng-template>

<ng-template gcWidget="photos" gcWidgetEditable let-editingData="editingData">
    @if (preview()) {
        <gc-media-gallery kind="photo" [items]="previewPhotos" [emptyLabel]="previewPhotosEmpty" />
    } @else if (canEditFields() && editingData) {
        <lol-media-admin [playerPublicId]="view().publicId" kind="photo" />
    } @else {
        <lol-media-manager [playerPublicId]="view().publicId" kind="photo" />
    }
</ng-template>

<ng-template gcWidget="videos" gcWidgetEditable let-editingData="editingData">
    @if (preview()) {
        <gc-media-gallery kind="video" [items]="previewVideos" [emptyLabel]="previewVideosEmpty" />
    } @else if (canEditFields() && editingData) {
        <lol-media-admin [playerPublicId]="view().publicId" kind="video" />
    } @else {
        <lol-media-manager [playerPublicId]="view().publicId" kind="video" />
    }
</ng-template>

<ng-template gcWidget="streams" gcWidgetEditable let-editingData="editingData">
    @if (preview()) {
        <div class="widget-host__streams">
            @for (stream of previewStreams; track stream.url) {
                <figure class="widget-host__stream">
                    <gc-twitch-embed [channel]="stream.url" />
                    @if (stream.title) {
                        <figcaption>{{ stream.title }}</figcaption>
                    }
                </figure>
            }
        </div>
    } @else if (canEditFields() && editingData) {
        <lol-media-admin [playerPublicId]="view().publicId" kind="stream" />
    } @else {
        <lol-media-manager [playerPublicId]="view().publicId" kind="stream" />
    }
</ng-template>
